<div class="container-fluid footer fixed-bottom">
    <div class="color-footer">
        <div class="text-end mx-5 py-3 fs-1">
            <a href="#" target="_blank" style=""><i class="fab fa-facebook-f"></i></a>
            <a href="#" target="_blank" style=""><i class="fab fa-instagram"></i></a>
            <a href="#" target="_blank" style=""><i class="fab fa-twitter"></i></a>                
            <a href="#" style=""><i class="fab fa-whatsapp"></i></a>                
        </div>
    </div>    
</div>