{% extends 'index.html' %}
{% block content %}
<div class="container-fluid">
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="fs-1 navbar-brand" href="/">
                <i class="fa-solid fa-house-chimney-window"></i> Inmobiliaria              
            </a>    
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}"> Cerrar Sesión </a>
                </li>            
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1> Agregar nuevo inmueble </h1>
        <form method= 'POST'>
            {% csrf_token %}
            {{ u_form.as_p }}
            <button> Registrar </button>
        </form>
    </div>
{% endblock %}