body,*{
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
}

.container-fluid {
    padding: 0
}

a {
    color:#000000 !important;
}

.fondo-carrusel {
    background-color: rgb(0, 0, 0, 0.4);
}

.carousel-indicators {
    bottom:-40px;
    opacity: 0.7;
  }

.boton-carrusel {
    background-color:#000000 !important;
}

.color-boton{
    color: white !important;
    background-color: rgba(182, 66, 66, 0.717);
}

.color-link{
    color: white !important;
    text-decoration: none;
}

.navbar{
    background-color: rgba(182, 66, 66, 0.717) !important;

}
.nav-link{
    color: white !important;
    font-size: large;
}

.color-footer{
    background-color: rgba(182, 66, 66, 0.717) !important;
    color:white !important;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    margin-bottom: 50px;
   
}

.actualizar{
    margin-bottom: 110px;    
}